[submodule ".i3blocks-contrib"]
	path = .i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
