# Ignore everything
/*

# But these
!.gitignore
!.gitconfig
!.vimrc
!.gvimrc
!.zshrc
!.bashrc
!.Xresources
!.Xmodmap
!.dunstrc

#Unignore some config subfolders
!/.config/
!/.newsboat/

.config/*
!.config/i3
!.config/polybar
!.config/compton.conf
!.config/dunst
!.config/nvim
.config/nvim/*
!.config/nvim/init.vim

.newsboat/*
!.newsboat/config
!.newsboat/urls
