# Ignore everything
/*

# But these
!.gitignore
!.gitconfig
!.vimrc
!.gvimrc
!.zshrc
!.bashrc
!.Xresources
!.Xmodmap
!.dunstrc
!.xinitrc

#Unignore some config subfolders
!/.config/
!/.newsboat/
!/.i3blocks-contrib/
!/.oh-my-zsh/

.config/*
!.config/i3
!.config/i3blocks
!.config/polybar
!.config/compton.conf
!.config/dunst
!.config/nvim
.config/nvim/*
!.config/nvim/init.vim
!.config/scripts
!.config/sxiv
!.config/zathura

.newsboat/*
!.newsboat/config
!.newsboat/urls
