urxvt*depth: 32
URxvt*saveLines: 12000
URxvt*font: xft:Source Code Pro:pixelsize=13
URxvt*boldFont: xft:Source Code Pro 
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollstyle: rxvt

URxvt.perl-ext-common: ,resize-font,
URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger
