theme = "gruvbox_light"

[editor]
line-number = 'relative'
cursorline = true
mouse = true
color-modes = true
true-color = true  # Required for themes
clipboard-provider = "termcode"  # OSC 52
indent-guides.render = true
indent-guides.skip-levels = 1

[editor.cursor-shape]
insert = 'bar'
normal = 'block'
select = 'underline'

[editor.file-picker]
hidden = false
parents = false

[editor.soft-wrap]
enable = true

[editor.lsp]
display-messages = true
auto-signature-help = true
display-signature-help-docs = true

# key mappings
[keys.normal]
ret = 'expand_selection'
D = 'kill_to_line_end'
Z = {Z = ':x'}
C-x = ':reset-diff-change'
# Python print macro. This should be made available only for python on a future helix update
"@" = {p = '@gsvglcprint("<esc>Pa:<space><esc>la,<space><esc>pgs'}
# Lazygit integration
C-g = [
  ":write-all",
  ":new",
  ":insert-output lazygit",
  ":buffer-close!",
  ":redraw",
  ":reload-all",
]

[keys.normal."C-w"]
c = ":quit"

[keys.select]
C-j = 'join_selections_space'
g = {q = ":reflow 100"}
